html a:visited {
  color: #fff !important;
}

.Main-container {
  width: 100vw;
  height: 90.6vh;
  margin-top: 3.5rem;
  background-color: #000;
  overflow-x: hidden;
  color: #fff;
}
/* Home page  */
.H {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
}
.H-left,
.H-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.H-right {
  flex: 1;
  width: 100%;
  position: relative;
}
.H-right img {
  width: 80%;
  background-color: black;
}
.H-intro {
  font-size: 30px;
  font-weight: 300;
}
.H-name {
  font-size: 4rem;
  color: rgb(0, 255, 217);
  text-shadow: 2px 2px green;
}
.H-name:hover {
  color: rgb(0, 242, 255);
}

.H-title {
  min-height: 50px;
  overflow: hidden;
  /* background-color: red; */
}
.H-title-wrapper {
  user-select: none;
  line-height: 50px;
  height: 50px;
  animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
  33% {
    transform: translateY(-50px);
  }
  66% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-150px);
  }
}
.H-title-item {
  font-size: 30px;
  font-weight: 700;
  color: rgb(7, 224, 43);
  /* background-color: purple; */
  display: flex;
  align-items: center;
}
.H-desc {
  margin-top: 0.3rem;
  color: rgb(193, 195, 197);
}

/* body[data-aos-duration="4000"] [data-aos],
[data-aos][data-aos][data-aos-duration="4000"] {
  transition-duration: 4000ms;
} */

/* Navbar page  */
.N {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
nav {
  height: 3.5rem;
}
.N-logo {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.N-logo:hover {
  transform: rotate(360deg);
}
.nav-link {
  margin: 0 6px;
  font-weight: 500;
  border: 2px solid transparent !important;
}
.nav-item:hover > .nav-link {
  /* border: 2px solid rgb(61, 0, 0) !important; */
  border-bottom: 2px solid aqua !important;
  border-top: 2px solid aqua !important;
}
/* 
@media (max-width: 991px) {
  .nav-item .nav-link {
    padding-left: 10px;
    width: 78px;
  }
  .nav-item:hover > .nav-link {
    border-radius: 10px;
    
  }
} */

/* // footer page  */
.f {
  /* position: absolute; */
  left: 0;
  right: 0;
  margin: 0;
  /* padding: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 98vw; */
  padding: 10px 0px;
  overflow: hidden;
  background: #212529;
  color: white;
  height: 3.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 0px 6px 2px;
}

.f-auth {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0px;
  transition: all 0.9 ease-in-out;
  user-select: none;
}
.f-auth:hover {
  letter-spacing: 0.1px;
  /* transform: rotateX(90deg); */
}

/* // About page  */
.a {
  display: flex;
  flex-wrap: wrap;
}
.a-left,
.a-right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.techs ul {
  display: flex;
  flex-wrap: wrap;
}

.techs ul li {
  list-style-type: none;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
  transition: transform 0.3s linear;
}
.techs ul li:hover {
  font-weight: 500;
  transform: scale(1.06);
}

.links {
  /* flex: 1;
  align-items: center;
  justify-content: center; */
}
.links div {
  transition: transform 0.5s linear;
}
.links div:hover {
  transform: scale(1.02);
}
.links div img {
  width: 30px;
  margin: 5px 11px;
}
.links a {
  text-decoration: none;
  transition: all 0.3s linear;
}
.links a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}
.dwn_cv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dwn_cv a Button {
  width: 9rem;
  transition: width 0.3s linear;
}
.dwn_cv a Button:hover {
  width: 11rem;
}

/* // Error page  */
.ErrorPage {
  width: 100vw;
  height: 100vh;
  padding-top: 3.5rem;
  overflow: hidden;
  background-color: #000;
}
#handboy {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 98% 98%;
  transform-box: fill-box;
}

#girllight {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 0% 97%;
  transform-box: fill-box;
}

#hairgirl {
  animation: swinghair ease-in-out 1.3s infinite alternate;
  transform-origin: 60% 0%;
  transform-box: fill-box;
}

#zero {
  transform-origin: bottom;
  transform-box: fill-box;
}

/*************swing************/
@keyframes swing {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/*************swing hair************/
@keyframes swinghair {
  0% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}
